# NETWORK
bind {{ redis_bind }}
protected-mode yes
port {{ redis_port }}
tcp-backlog 511
timeout 3600
tcp-keepalive 300

# GENERAL
daemonize no
supervised systemd
loglevel notice
logfile ""
databases 16

# SNAPSHOTTING
save ""
stop-writes-on-bgsave-error yes
rdbcompression yes
rdbchecksum yes
dbfilename dump.rdb
dir /var/lib/redis

# REPLICATION
# slaveof <masterip> <masterport>
# masterauth <master-password>
slave-serve-stale-data yes
slave-read-only yes
repl-diskless-sync no
repl-diskless-sync-delay 5
repl-disable-tcp-nodelay no
slave-priority 100

# SECURITY
{% if redis_requirepass != "" %}
requirepass {{ redis_requirepass }}
{% endif %}
{% if redis_rename_command != "CONFIG" %}
rename-command CONFIG {{ redis_rename_command }}
{% endif %}

# LIMITS
maxclients 10000
maxmemory {{ redis_maxmemory }}
maxmemory-policy {{ redis_maxmemory_policy }}

# LAZY FREEING
lazyfree-lazy-eviction no
lazyfree-lazy-expire no
lazyfree-lazy-server-del no
replica-lazy-flush no

# APPEND ONLY MODE
appendonly no
appendfilename "appendonly.aof"
appendfsync everysec
no-appendfsync-on-rewrite no
auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb
aof-load-truncated yes
lua-time-limit 5000

# SLOW LOG
slowlog-log-slower-than 10000
slowlog-max-len 128

# LATENCY MONITOR
latency-monitor-threshold 0

# EVENT NOTIFICATION
notify-keyspace-events ""

# ADVANCED CONFIG
hash-max-ziplist-entries 512
hash-max-ziplist-value 64
list-max-ziplist-size -2
list-compress-depth 0
set-max-intset-entries 512
zset-max-ziplist-entries 128
zset-max-ziplist-value 64
hll-sparse-max-bytes 3000
activerehashing yes
client-output-buffer-limit normal 0 0 0
client-output-buffer-limit slave 256mb 64mb 60
client-output-buffer-limit pubsub 32mb 8mb 60
hz 10
dynamic-hz yes
aof-rewrite-incremental-fsync yes
